* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #bdc3c7;
  background-image: linear-gradient(to right, #2c3e50, #bdc3c7);
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
}

.form-wrap {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 95px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);

  box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
  -webkit-box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
  -moz-box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
}

.form-wrapper {
  margin: auto;
  max-width: 1400px;
  position: relative;
}

form {
  position: relative;
  max-width: 331px;
}

input {
  font: inherit;
  display: block;
  padding: 8px;
  min-width: 331px;
  font-size: 24px;
  color: rgb(51, 29, 29);

  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #bdc3c7;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:is(:focus, :hover) {
  box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.67);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.67);
  -moz-box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.67);
}

.btn-submit {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 52px;
  min-height: 52px;
  padding: 0;
  color: #bdc3c7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: transparent;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.icon-search {
  fill: currentColor;
}

.btn-submit:is(:focus, :hover) {
  background-color: #676869;
}

.container {
  margin-top: 150px;
  max-width: 1400px;
  margin: auto;
  padding-top: 40px;
}
