* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4fd;
  background-image: linear-gradient(to right, #2c3e50, #f4f4fd);
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
}

.form-wrap {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 95px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);

  box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
  -webkit-box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
  -moz-box-shadow: 1px 7px 8px 0px rgba(37, 37, 37, 0.38);
}

.form-wrapper {
  margin: auto;
  max-width: 1400px;
  position: relative;
}

form {
  position: relative;
  max-width: 331px;
}

input {
  font: inherit;
  display: block;
  padding: 8px;
  min-width: 331px;
  font-size: 24px;
  color: rgb(51, 29, 29);

  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #bdc3c7;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:is(:focus, :hover) {
  box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.67);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.67);
  -moz-box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.67);
}

.btn-submit {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 52px;
  min-height: 52px;
  padding: 0;
  color: #bdc3c7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: transparent;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.icon-search {
  fill: currentColor;
}

.btn-submit:is(:focus, :hover) {
  background-color: #676869;
}

.container {
  padding-top: 120px;
  max-width: 1400px;
  margin: auto;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.photo-card {
  width: calc((100% - 3 * 40px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #e1e1e1;
  box-shadow: 0px 0px 16px 12px rgba(99, 96, 96, 0.75);
  -webkit-box-shadow: 0px 0px 16px 12px rgba(99, 96, 96, 0.75);
  -moz-box-shadow: 0px 0px 16px 12px rgba(99, 96, 96, 0.75);
}

.photo-card-img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 25px;
  box-shadow: 0px -22px 40px 12px rgba(99, 96, 96, 0.75) inset;
  -webkit-box-shadow: 0px -22px 40px 12px rgba(99, 96, 96, 0.75) inset;
  -moz-box-shadow: 0px -22px 40px 12px rgba(99, 96, 96, 0.75) inset;
}

.info-item {
  color: #35373c;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #4d4e50;
  background-color: #c4c4c4;
  box-shadow: 0px 0px 5px 3px rgba(99, 96, 96, 0.75) inset;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(99, 96, 96, 0.75) inset;
  -moz-box-shadow: 0px 0px 5px 3px rgba(99, 96, 96, 0.75) inset;
}

.icon {
  fill: #4d4e50;
}
